<a href="https://colab.research.google.com/github/Rafaelkarneiro/projeto-alura-store/blob/main/alura_store.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importação dos dados

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [ ]:
faturamento_loja_1 = loja["Preço"].sum()
faturamento_loja_2 = loja2["Preço"].sum()
faturamento_loja_3 = loja3["Preço"].sum()
faturamento_loja_4 = loja4["Preço"].sum()

print(f"Loja 1: R$ {faturamento_loja_1:.2f}")
print(f"Loja 2: R$ {faturamento_loja_2:.2f}")
print(f"Loja 3: R$ {faturamento_loja_3:.2f}")
print(f"Loja 4: R$ {faturamento_loja_4:.2f}")

Loja 1: R$ 1534509.12
Loja 2: R$ 1488459.06
Loja 3: R$ 1464025.03
Loja 4: R$ 1384497.58

# 2. Vendas por Categoria

In [ ]:
vendas_categoria_loja = (
    loja.groupby("Categoria do Produto")
         .size()
         .reset_index(name="Quantidade de Vendas")
         .sort_values(by="Quantidade de Vendas", ascending=False)
)

vendas_categoria_loja2 = (
    loja2.groupby("Categoria do Produto")
         .size()
         .reset_index(name="Quantidade de Vendas")
         .sort_values(by="Quantidade de Vendas", ascending=False)
)
vendas_categoria_loja3 = (
    loja3.groupby("Categoria do Produto")
         .size()
         .reset_index(name="Quantidade de Vendas")
         .sort_values(by="Quantidade de Vendas", ascending=False)
)
vendas_categoria_loja4 = (
    loja4.groupby("Categoria do Produto")
         .size()
         .reset_index(name="Quantidade de Vendas")
         .sort_values(by="Quantidade de Vendas", ascending=False)
)
vendas_categoria_loja

    Categoria do Produto  Quantidade de Vendas
6                 moveis                   465
2            eletronicos                   448
0             brinquedos                   324
1       eletrodomesticos                   312
3        esporte e lazer                   284
4  instrumentos musicais                   182
5                 livros                   173
7  utilidades domesticas                   171

In [ ]:
categoria_top_loja = loja.groupby("Categoria do Produto").size().idxmax()
categoria_top_loja2 = loja2.groupby("Categoria do Produto").size().idxmax()
categoria_top_loja3 = loja3.groupby("Categoria do Produto").size().idxmax()
categoria_top_loja4 = loja4.groupby("Categoria do Produto").size().idxmax()
print(f"A categoria de maior venda na Loja 1 é: {categoria_top_loja}")
print(f"A categoria de maior venda na Loja 2 é: {categoria_top_loja2}")
print(f"A categoria de maior venda na Loja 3 é: {categoria_top_loja3}")
print(f"A categoria de maior venda na Loja 4 é: {categoria_top_loja4}")

A categoria de maior venda na Loja 1 é: moveis
A categoria de maior venda na Loja 2 é: moveis
A categoria de maior venda na Loja 3 é: moveis
A categoria de maior venda na Loja 4 é: moveis

# 3. Média de Avaliação das Lojas

In [ ]:
media_satisfacao_loja = loja["Avaliação da compra"].mean()
media_satisfacao_loja2 = loja2["Avaliação da compra"].mean()
media_satisfacao_loja3 = loja3["Avaliação da compra"].mean()
media_satisfacao_loja4 = loja4["Avaliação da compra"].mean()

In [ ]:
print(f"Média de avaliações das comprar feitas na loja 1: {media_satisfacao_loja}")
print(f"Média de avaliações das comprar feitas na loja 2: {media_satisfacao_loja2}")
print(f"Média de avaliações das comprar feitas na loja 3: {media_satisfacao_loja3}")
print(f"Média de avaliações das comprar feitas na loja 4: {media_satisfacao_loja4}")

Média de avaliações das comprar feitas na loja 1: 3.976685036032217
Média de avaliações das comprar feitas na loja 2: 4.037303942348453
Média de avaliações das comprar feitas na loja 3: 4.048325561678677
Média de avaliações das comprar feitas na loja 4: 3.9957591178965224

# 4. Produtos Mais e Menos Vendidos

In [ ]:
prod_mais_vendido_loja = loja.groupby("Produto").size().idxmax()
prod_menos_vendido_loja = loja.groupby("Produto").size().idxmin()

prod_mais_vendido_loja2 = loja2.groupby("Produto").size().idxmax()
prod_menos_vendido_loja2 = loja2.groupby("Produto").size().idxmin()

prod_mais_vendido_loja3 = loja3.groupby("Produto").size().idxmax()
prod_menos_vendido_loja3 = loja3.groupby("Produto").size().idxmin()

prod_mais_vendido_loja4 = loja4.groupby("Produto").size().idxmax()
prod_menos_vendido_loja4 = loja4.groupby("Produto").size().idxmin()

In [ ]:
print(f"O produto mais vendido na loja 1 é: {prod_mais_vendido_loja}")
print(f"O produto menos vendido na loja 1 é: {prod_menos_vendido_loja}")
print("---------------------------------------------------------------")
print(f"O produto mais vendido na loja 2 é: {prod_mais_vendido_loja2}")
print(f"O produto menos vendido na loja 2 é: {prod_menos_vendido_loja2}")
print("---------------------------------------------------------------")
print(f"O produto mais vendido na loja 3 é: {prod_mais_vendido_loja3}")
print(f"O produto menos vendido na loja 3 é: {prod_menos_vendido_loja3}")
print("---------------------------------------------------------------")
print(f"O produto mais vendido na loja 4 é: {prod_mais_vendido_loja4}")
print(f"O produto menos vendido na loja 4 é: {prod_menos_vendido_loja4}")

O produto mais vendido na loja 1 é: Guarda roupas
O produto menos vendido na loja 1 é: Celular ABXY
---------------------------------------------------------------
O produto mais vendido na loja 2 é: Iniciando em programação
O produto menos vendido na loja 2 é: Jogo de tabuleiro
---------------------------------------------------------------
O produto mais vendido na loja 3 é: Kit banquetas
O produto menos vendido na loja 3 é: Blocos de montar
---------------------------------------------------------------
O produto mais vendido na loja 4 é: Cama box
O produto menos vendido na loja 4 é: Guitarra

# 5. Frete Médio por Loja

In [ ]:
custo_frete_loja = loja["Frete"].mean()
custo_frete_loja2 = loja2["Frete"].mean()
custo_frete_loja3 = loja3["Frete"].mean()
custo_frete_loja4 = loja4["Frete"].mean()

In [ ]:
print(f"O custo médio do frete das compras na loja 1 é: R$ {custo_frete_loja:.2f}")
print(f"O custo médio do frete das compras na loja 2 é: R$ {custo_frete_loja2:.2f}")
print(f"O custo médio do frete das compras na loja 3 é: R$ {custo_frete_loja3:.2f}")
print(f"O custo médio do frete das compras na loja 4 é: R$ {custo_frete_loja4:.2f}")

O custo médio do frete das compras na loja 1 é: R$ 34.69
O custo médio do frete das compras na loja 2 é: R$ 33.62
O custo médio do frete das compras na loja 3 é: R$ 33.07
O custo médio do frete das compras na loja 4 é: R$ 31.28